label {
    display: inline-block;
}
/* form {
    width: 500px;
} */
input[type=text], input[type=checkbox]:not(old) {
    box-shadow: none;
    border: 1px solid #2d2d2d;
    border-radius: 0px;
    background-color: white;
}
input[type=text].error {
    border: 1px solid red;
}
input[type=text]:focus {
    border: 1px solid #2d2d2d;

}
button {
    color: #2d2d2d;
    background-color: #fff;
    border: 1px solid #2d2d2d;
    box-shadow: none;
}
button:hover {
    color: white;
    background-color: #999;
    border-color: #999;
}
input {
    border: 1px solid white;
    background-color: #f3f3f3;
}
input:focus {
    border: 1px solid #4444ff;
}
#about {
    text-align: right;
    margin-right: 22px;
    text-decoration: none;
}
#about a {
    color: #2d2d2d;
    border: 1px solid;
    padding: 1px 4px;
    text-decoration: none;

}
#about a:hover {
    color: #ffffff;
    background-color: #999;
}
