<h1>New Task</h1>

<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)"
      autocomplete="off">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input  type="text"
            class="form-control input-sm"
            id="nameInput"
            placeholder="Task Name"
            [formControl]="form.controls['name']"
            [class.error]="!form.controls['name'].valid && form.controls['name'].touched ">
    <br>
    <label  for="descriptionInput">Description</label>
    <input  type="text"
            class="form-control input-sm"
            id="descriptionInput"
            placeholder="(Optional)"
            [formControl]="form.controls['description']">
    <br>
    <label  for="completedInput">Completed</label>
    <input  type="checkbox"
            class="form-control input-sm"
            id="completedInput"
            [formControl]="form.controls['completed']">
            <hr>
    <button type="submit">Submit</button>
  </div>
</form>
<br/><br/>
<p id="about">
        This project was made by <a href="http://robertalbus.com">Robert Albus.</a>
<br/>
find it on <a href="http://github.com/RobertAlbus/todo.robertalbus.com">Github.</a>
</p>
