 .task {
    border: 0px solid black;
    margin-bottom: 4px;
    width: 100%;
    padding-left: 5px;
}
.taskList {
    display: inline-block;
    vertical-align: top;
    min-width: 100%;
    margin-left: 10px;
    max-height: 90vh;
    overflow-y: scroll;
} 

.done {
    background-color: #9999ff;
}
.toDo {
    background-color: #ff9999;

}

a {
    color: white;
    border: 1px solid white;
    padding: 1px 4px;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: white;
}

h1 {
    padding: 10;
    
}
h2 {
    word-wrap: break-word;
    white-space: initial;

}
#about a {
    color: black;
    border: 1px solid;
    padding: 1px 4px;
}
#about a:hover {
    color: #ffffff;
    background-color: #3d3d3d;
}